@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-bg-color: #e7e7e7;
    --bar-bg: #212529;
  }

  html{
    scroll-behavior: smooth;
  }

  body {
    font-family: Montserrat, sans-serif;
    background: var(--main-bg-color);
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: #111;
  }

 /* HEADER  */
#header {
	position: absolute;
	z-index: 200;
	position:relative;
    position: fixed;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 10rem;
	top: 2.5rem;
}

.menu-button{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	cursor: pointer;
}

.logo{

}

.emoji-img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

/* Hamburger BUTTON */

.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50px;
	height: 50px;
	padding: 12px 0;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 100%;
  }
  
  .hamburger .bar {
	margin: auto;
	width: 50%;
	border-radius: 16px;
	height: 4px;
	background-color: #333;
	transition: all 0.3s ease;
  }
  
  /* Hamburger icon transformation when clicked (X shape) */
  .hamburger.open .bar:nth-child(1) {
	transform: rotate(45deg);
	position: relative;
	top: 10px;
  }
  
  .hamburger.open .bar:nth-child(2) {
	opacity: 0;
  }
  
  .hamburger.open .bar:nth-child(3) {
	transform: rotate(-45deg);
	position: relative;
	top: -7px;
  }

  /* Header Menu */

.header-menu{
	background-color: #fff;
	position: absolute;
	display: grid;
	opacity: 75%;
	right: 13.5rem;
	top: 0rem;
	padding: 5px;
	width: 200px;
	border-radius: 16px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	transition: all 0.1s ease-in;
	visibility: hidden;
}

.active {
	visibility: visible;
}

.menu-item{
	padding: 7px 5px;
	display: flex;
	align-items: center;
}


.menu-item:hover {
	background-color: #eee;
	border-radius: 14px;
}

.menu-item:hover:active{
	transform: scale(.98);
	transition: all 0.2s ease-in-out;
}

.menu-item img {
	width: 25px;
	margin: 0 10px;
}


  /* MAIN */
  #main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.main-text{
	font-size: 3rem;
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  /* ABOUT */
  #about-anchor{
	display: block;
	height: 84px;
	visibility: hidden;
  }

  #about {
	height: 100vh;
	display: flex;
	text-align: center;
	justify-content: center;
}

  .about-holder{
	display: flex;
	padding: 2rem;
	height: 80%;
	width: 70%;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .about-info{
	height: 100%;
	width: 30%;
  }

  .about-img{
	width: 85%;
	height: 70%;
	border-radius: 16px;
  }

  .about-text {
	text-align: center;
  }

  .line {
	background-color: #ddd;
	width: 0.05rem;
	border-radius: 16px;
  }

  .about-cards{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 70% ;
  }
  
  .about-card{
	cursor: pointer;
	transform: rotateX(10deg);
	position: relative;
	background-color: #fff;
	border-radius: 16px;
	margin-top: 3rem;
	height: 75%;
	width: 75%;
	transition: all 0.3s ease-in-out;
  }

  .folder-menu{
	display: flex;
	text-align: center;
	justify-content: center;
	padding-top: 0.3rem;
	font-weight: 600;
	top: -25px;
	border-radius: 16px;
	position: absolute;
	height: 70px;
	width: 7rem;
	background-color: inherit;
  }

  .certs {
	background-color: #ddd;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }

  .certificate-img{
	width: 20%;
	margin: auto;
  }
 
  .skills {
	background-color: #eee;
  }

  .skill-img{
	width: 25%;
	height: 45%;
  }

  .skills:hover{
	top: 0px;
	transition: all 0.2s ease-in-out;
  }

  .about-folder-1{
	z-index: 100;
	display: grid;
	align-items: center;
  }

  .about-folder-2{
	top: 20px;
	position: absolute;
	z-index: 10;
  }

/* Footer */
#footer {
background-color: #d5d5d5;
height: 7rem;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

.footer-list{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.footer-item{
	margin: 0 1.5rem;
}

.footer-item img {
	height: 35px;
	width: 35px;
}

.footer-copyright{
	color: #fff;
	font-size: small;
	margin-top: 1rem;
}